# meta/main.yml
---
dependencies: []

galaxy_info:
  namespace: okb
  role_name: {{ role_name }}

  author: Fernando Aleman
  description: Role for {{ role_name }}
  license: MIT

  min_ansible_version: "2.13"

  platforms:
    - name: Ubuntu
      version:
        - "2204"
        - "2404"
