# .github/workflows/ci.yml
---
name: CI

"on":
  pull_request:
    paths-ignore:
      - README.md
  push:
    branches:
      - master
    paths-ignore:
      - README.md
  schedule:
    - cron: 0 2 * * 0

jobs:
  lint:
    name: Lint tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Install linters
        run: make install-tools

      - name: Run linters
        run: make lint

  format:
    name: Format tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install formatter
        run: make install-python-tools

      - name: Run formatters
        run: make format

  molecule:
    name: Integration tests
    runs-on: ubuntu-latest
    needs:
      - lint
      - format

    strategy:
      matrix:
        distro:
          - ubuntu-2204
          - ubuntu-2404

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run molecule tests
        run: molecule test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
